# Dependencies
# Only ignore the local node_modules directory.
# The build process on Google Cloud will run 'npm install' on its own.
node_modules/
.env.yaml
app.yaml
/build/

# Environment variables
.env
.env.*
!/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
app.yaml
